
{% block content %}
  <div class="transfer-money-container">
    <h2>Transfer Money</h2>
    <form method="post" action="{% url 'transfer_money' %}">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" >{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <small class="text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
     {% endfor %}
      <button type="submit" class="btn transfer-btn">Transfer</button>
    </form>
    <p><a href="{% url 'profile' %}" class="back-link">Back to Profile</a></p>
  </div>

  <style>
    form label {
      display: block;
      font-weight: bold;
      color: #1397d7;
    }
  
    form input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  
    form input {
      outline-color: #1397d7 !important;
    }

    .transfer-money-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  
    .transfer-money-container h2 {
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 20px;
    }
    select,input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  
    select option {
      padding: 10px 20px;
      color: #0070ba;
      background-color: #f9f9f9;
      font-family: sans-serif;
      font-size: 16px;
    }
    option:checked {
      background-color: #0070ba;
      color: #fff;
    }
    button[type="submit"] {
      padding: 10px 20px;
      background-color: #0070ba;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button[type="submit"]:hover {
      background-color: #005ea6;
    }
  
    .back-link {
      color: #0070ba;
      text-decoration: none;
    }
  
    .back-link:hover {
      text-decoration: underline;
    }
  </style>
{% endblock %}
